<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom" style="padding: 12px;">
  <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
    <app-header></app-header>
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Sobre</a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Produtos</a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Suporte</a>
    <a class="btn btn-outline-primary" style="margin-left: 12px; margin-right: 12px;">Sign Up</a>
  </nav>

</div>
